.recommended-flyout-container {
  bottom: 30px;
  position: fixed;
  right: 0;
  z-index: 180;
}

.preview-recommended-flyout-container {
  position: relative;
  z-index: 180;
}

.recommended-flyout-wrap {
  bottom: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  height: 90px;
  position: absolute;
  right: 0;
  z-index: 175;
  background: #27517B;
}

.preview-recommended-flyout-wrap {
  bottom: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  height: 90px;
  position: relative;
  right: 0;
  z-index: 175;
  background: #27517B;
}

.recommended-flyout,
.preview-recommended-flyout {
  border-top: 1px solid #6985A1;
  height: 60px;
  padding: 15px;
  width: 330px;
}

.recommended-flyout img,
.preview-recommended-flyout img {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.3);
  float: left;
  margin-right: 10px;
  height: 70px;
  border-radius: 35px;
  margin-top: -5px;
}

.recommended-flyout-heading,
.preview-recommended-flyout-heading {
  color: #FFFFFF;
  font-family: 'Futura Today Bold',sans-serif;
  font-size: 15px;
  line-height: 12px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-shadow: 2px 1px #1F305F;
}

.recommended-flyout-snippet,
.preview-recommended-flyout-snippet {
  color: #FFFFFF;
  font-family: Helvetica,sans-serif;
  font-size: 13px;
  height: 45px;
  margin: 7px 0 0;
  overflow: hidden;
}

.recommended-flyout-close,
.preview-recommended-flyout-close {
  color: #27517B;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  left: 320px;
  top: 0;
  height: 40px;
  width: 40px;
  z-index: 180;
  background: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  border: none;
  border-radius: 0;
}
