.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.form-horizontal .form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 1px;
}
.form-horizontal .form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 1px;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 1px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 1px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 1px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
.search-acrossbusinessagencies-mastercontainer {
  display: none;
}
body.one-sidebar .wrapper #contentArea .region.region-content #block-system-main {
  background-color: #fff;
}
body.one-sidebar .wrapper #contentArea .region.region-content #block-system-main .events-row {
  float: left;
  padding: 20px 0;
  border-top: 1px solid #e8e8e8 !important;
  width: 94%;
}
body.one-sidebar .wrapper #contentArea .region.region-content #block-system-main .events-row .eventscolumn-left {
  width: 30%;
  float: left;
}
.event-calendar {
  width: 66px;
  height: 66px;
  margin-bottom: 12px;
  display: block;
  /*float: left;*/
  margin-left: auto;
  margin-right: auto;
}
.event-calendar .month {
  display: block;
  float: left;
  width: 66px;
  background-color: #1a4168;
  color: #fff;
  text-align: center;
  line-height: 21px;
  text-transform: uppercase;
}
.event-calendar .day {
    float: left;
    clear: both;
    display: block;
    width: 100%;
    background-color: #97e8c1;
    line-height: 45px;
    text-align: center;
    font-size: 26px;
    color: #1a4168;
}
body.one-sidebar .wrapper #contentArea .region.region-content #block-system-main .events-row .eventscolumn-left .calendar-icon-container {
  float: left;
}
body.one-sidebar .wrapper #contentArea .region.region-content #block-system-main .events-row .eventscolumn-left .calendar-icon-container.calendar-gcal{
  margin-right: 10px;
  margin-left: 10px;
}
body.one-sidebar .wrapper #contentArea .region.region-content #block-system-main .events-row .eventscolumn-left .event-calendarlinks {
  clear: both;
}
body.one-sidebar .wrapper #contentArea .region.region-content #block-system-main .events-row .eventscolumn-right {
  float: right;
  width: 70%;
}
body.one-sidebar .wrapper #contentArea .region.region-content #block-system-main .events-row .eventscolumn-right h2.event-title {
  margin-top: 0px;
}
body.one-sidebar .wrapper #contentArea .region.region-content #block-system-main .events-row .eventscolumn-right .event-date-time {
  font-family: "latoblack", sans-serif;
  font-size: 12px;
  margin-bottom: 5px;
}
body.one-sidebar .wrapper #contentArea .region.region-content #block-system-main .events-row .eventscolumn-right .event-where {
  font-family: "latoblack", sans-serif;
  float: left;
}
body.one-sidebar .wrapper #contentArea .region.region-content #block-system-main .events-row .eventscolumn-right .event-location {
  font-family: "latoitalic", sans-serif;
  margin-bottom: 10px;
}
body.one-sidebar .wrapper #contentArea .region.region-content #block-system-main .events-row .google-map {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 15px;
}
body.one-sidebar .wrapper #contentArea .region.region-content #block-system-main .events-row .google-map .viewhide-map {
  display: block;
  clear: both;
  background: url("/sites/all/themes/bizusa/images/icons/viewhide-map.png") no-repeat transparent;
  padding-left: 22px;
  margin-left: 30%;
  height: 21px;
  line-height: 20px;
}
body.one-sidebar .wrapper #contentArea .region.region-content #block-system-main .events-row:first-child {
  border-top: none;
}
input[type="text"] {
  display: block;
  width: 75%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input[type="text"]:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
input[type="text"]::-moz-placeholder {
  color: #afafaf;
  opacity: 1;
}
input[type="text"]:-ms-input-placeholder {
  color: #afafaf;
}
input[type="text"]::-webkit-input-placeholder {
  color: #afafaf;
}
input[type="text"][disabled],
input[type="text"][readonly],
fieldset[disabled] input[type="text"] {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textareainput[type="text"] {
  height: auto;
}
input[type="button"] {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
  background-color: #f75b49;
  border-color: #f64531;
}
input[type="button"]:hover,
input[type="button"]:focus {
  color: #333333;
  text-decoration: none;
}
input[type="button"]:active,
input[type="button"].active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
input[type="button"].disabled,
input[type="button"][disabled],
fieldset[disabled] input[type="button"] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active,
input[type="button"].active,
.open > .dropdown-toggleinput[type="button"] {
  color: #ffffff;
  background-color: #f52f18;
  border-color: #df200a;
}
input[type="button"]:active,
input[type="button"].active,
.open > .dropdown-toggleinput[type="button"] {
  background-image: none;
}
input[type="button"] .badge {
  color: #f75b49;
  background-color: #ffffff;
}
.views-exposed-form .form-item{
    padding: .5em .5em .5em 1.7em !important;
}
.date-padding{
    padding: .5em .5em 0em .7em !important;
}
#edit-date-filter-max{
    padding-bottom: 1.5em;
}#form-events-listings-and-filters #solr-search-events {
  width: 75%;
  float: left;
  height: 2.55em;
}
@media (min-width: 768px) {
  #form-events-listings-and-filters #solr-search-events {
    width: 75%;
  }
}
@media (min-width: 1025px) {
  #form-events-listings-and-filters #solr-search-events {
    width: 75%;
  }
}
@media (min-width: 1200px) {
  #form-events-listings-and-filters #solr-search-events {
    width: 75%;
  }
}
#form-events-listings-and-filters .solr-search-events-submit {
    width: 25%;
    background-color: #F75B49;
    border-color: #F75B49;
    color: white;
    height: 2.55em;
}
#events-text-search{
    padding-bottom: 1.0em;
}
.prettycheckbox {
    display: inline-block;
    padding: 0;
    margin-bottom: -4px;
}
/*the following is a nasty hack to get in the calendar theming, forgive me, I ran out of time figuring this out*/
.ui-icon-circle-triangle-e {
    font-size: 0;
}
.ui-icon-circle-triangle-w {
    font-size: 0;
}
/*end debacle of horrendous attrociousness*/
/*
#form-events-listings-and-filters {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  #form-events-listings-and-filters {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 768px) {
  #form-events-listings-and-filters {
    left: 66.66666667%;
  }
}
@media (min-width: 768px) {
  #form-events-listings-and-filters {
    padding-right: 0px;
  }
}
#form-events-listings-and-filters a:hover {
  text-decoration: none;
}
#form-events-listings-and-filters #event-search-filters > div {
  float: left;
  width: 100%;
  clear: both;
  padding-bottom: 10px;
}
#form-events-listings-and-filters #event-search-filters > div .accordion-header {
  display: block;
  float: left;
  width: 100%;
  background: #e2e2e2 url(/sites/all/themes/bizusa/images/icons/block-collapsed.png) 92% 54% no-repeat;
  padding: 20px 0 20px 30px;
  color: #3b3b3b;
}
#form-events-listings-and-filters #event-search-filters > div > div {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}
*/
body.one-sidebar .wrapper #contentArea .region.region-content #block-system-main .events-row .eventscolumn-right .events-contact-info {
    font-family: "latoblack", sans-serif;
    float: left;
}