.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.form-horizontal .form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 1px;
}
.form-horizontal .form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 1px;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 1px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 1px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 1px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
body.edit-mode .swimlane-edit-never {
  display: none;
}
body.not-edit-mode .swimlane-edit-only {
  display: none;
}
body .editting-options {
  text-align: right;
}
body > .wrapper .region.region-content #block-system-main {
  padding: 0px !important;
}
@media (min-width: 768px) {
  body > .wrapper .region.region-content {
    padding: 0px !important;
    background-color: transparent !important;
  }
  body > .wrapper .region.region-content #block-system-main {
    padding: 0px !important;
  }
}
.legacyswimlane-bodycontainer {
  position: relative;
  float: left;
  clear: both;
}
.legacyswimlane-section {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  float: left;
  clear: both;
  width: 100%;
}
@media (min-width: 768px) {
  .legacyswimlane-section {
    padding: 35px 35px 35px 175px;
  }
}
@media (min-width: 1025px) {
  .legacyswimlane-section {
    padding: 35px 35px 35px 135px;
  }
}
.legacyswimlane-section h2 {
  margin-top: 0px;
  font-size: 28px;
}
.legacyswimlane-section ul {
  float: left;
  width: 100%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.legacyswimlane-section ul li {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-top: 2px solid #97e8c1;
  min-height: 140px;
}
@media (min-width: 1025px) {
  .legacyswimlane-section ul li {
    width: 45%;
  }
}
@media (min-width: 1025px) {
  .legacyswimlane-section ul li.odd {
    margin-right: 10%;
  }
}
.legacyswimlane-section .swimlane-morelink-container {
  float: right;
  background-color: #6885a2;
}
.legacyswimlane-section .swimlane-morelink-container a {
  color: #fff;
  padding: 16px;
  line-height: 40px;
  text-transform: uppercase;
}
.subnav-container {
  display: none;
  position: fixed;
  z-index: 998;
}
@media (min-width: 768px) {
  .subnav-container {
    display: block;
  }
  .subnav-container ul {
    list-style-type: none;
    padding: 0px;
    margin: 40px 0px 0px 20px;
    background: none;
    padding-bottom: 25px;
  }
  .subnav-container ul li {
    background-color: #7791ab;
    color: #fff;
    font-size: 12px;
    font-family: 'latoblack', sans-serif;
  }
  .subnav-container ul li a,
  .subnav-container ul li a:hover,
  .subnav-container ul li a:focus {
    color: #fff;
    display: block;
    line-height: 37px;
    padding: 0px 10px;
  }
  .subnav-container ul li.even {
    background-color: #6885a2;
  }
  .subnav-container ul li.subnav-header {
    background-color: #324150;
    text-transform: uppercase;
    line-height: 28px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 768px) and (min-width: 1025px) {
  .subnav-container ul {
    margin: 40px 0px 0px -40px;
    background: transparent url("/sites/all/themes/bizusa/images/swimlane_menu_shadow.png") left bottom no-repeat;
  }
}
.legacyswimlane-foot-container {
  display: none;
}
@media (min-width: 768px) {
  .legacyswimlane-foot-container {
    display: block;
    float: left;
    clear: both;
    width: 100%;
  }
  .legacyswimlane-foot-container h2 {
    background-color: #97e8c1;
    font-size: 12px;
    line-height: 32px;
    margin: 0px;
    padding: 0px 0px 0px 25px;
    text-transform: uppercase;
    color: #1a4168;
  }
  .legacyswimlane-foot-container .legacyswimlane-foot-blocks-container {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }
  .legacyswimlane-foot-container .legacyswimlane-foot-blocks-container li {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    height: 284px;
    float: left;
  }
  .legacyswimlane-foot-container .legacyswimlane-foot-blocks-container li .imgcontainer {
    max-height: 80px;
    overflow: hidden;
  }
  .legacyswimlane-foot-container .legacyswimlane-foot-blocks-container li .imgcontainer img {
    width: 100%;
  }
  .legacyswimlane-foot-container .legacyswimlane-foot-blocks-container li a {
    background-color: #fff;
    font-family: 'latolight', sans-serif;
    font-size: 25px;
    display: block;
    padding: 25px;
    color: #6885a2;
    line-height: 1em;
    font-weight: bold;
    min-height: 200px;
  }
  .legacyswimlane-foot-container .legacyswimlane-foot-blocks-container li a:hover {
    text-decoration: none;
  }
  .legacyswimlane-foot-container .legacyswimlane-foot-blocks-container li:first-child {
    padding-left: 0px;
  }
  .legacyswimlane-foot-container .legacyswimlane-foot-blocks-container li + li + li {
    padding-right: 0px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .legacyswimlane-foot-container .legacyswimlane-foot-blocks-container li {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 768px) and (min-width: 1025px) {
  .legacyswimlane-foot-container .legacyswimlane-foot-blocks-container li a {
    font-size: 30px;
  }
}
